
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mendes Assoalhos</title>
    <link rel="stylesheet" href="css/budgetHeader.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var itemNumber = document.getElementById('itemNumber')
            itemNumber.value = listItems.childElementCount + 1;
        }, false);
    </script>
</head>

<body>
            <div class="form">
                <h2 class="title">Observações</h2>
                <input id="novaObservacao" type="text">
                <button id='addObs' class="btnAdd" type="button" onclick="addObservation()">Adicionar Observação</button>
            </div>

            <div id='observationList'class='form'>
            </div>

        <div class="navbar">
            <a href="/budgetBody" class="active">Anterior</a>
            <a href="#news">Templates</a>
            <button type='submit' id="submitBtn" disabled="true"  form='form1'>Gerar Orçamento</button>

        </div>

</body>
</html>