<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mendes Assoalhos</title>
    <link rel="stylesheet" href="css/budgetHeader.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var itemNumber = document.getElementById('itemNumber')
            itemNumber.value = listItems.childElementCount + 1;
        }, false);
    </script>
</head>

<body>
    <div id="itemForm" class="form">
        <h2 class="title">Itens</h2>
        <label>Numero do Item</label>
        <input type='Number' id="itemNumber" name="itemNumber" readonly="true"></input>
        <label>Quantidade</label>
        <input type='Number' id="quantidade" onchange="calculateTotal()"></input>
        <label>Unidade</label>
        <input type='text' id="unidade"></input>
        <label>Descrição</label>
        <input type='text' id="descricao"></input>
        <label>Valor Unitário</label>
        <input type='text' id="valorUnitario" onchange="calculateTotal()"></input>
        <label>Total</label>
        <input type='text' id="Total" required="true" readonly="true"></input>
        <button type="button" id="btnAddItem" class="btnAdd" onclick="addItem(), setItemNumbers()">Adicionar
            Item</button>
    </div>

    <form action="/budgetFooter" id="form2" method="get">
        <div id="listItems" class="listItems" name="listItems">
        </div>
    </form>


    <div class="navbar">
        <a href="/budgetHeader" class="active">Anterior</a>
        <a href="#">Templates</a>
        <button type="submit" form="form2">Próximo</button>
    </div>


    <script src="/js/budgetHeader.js"></script>
</body>
</html>