<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/responsiveLayout.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Mendes Assoalhos</title>
</head>
<body>
    <div class="row firstRow">
        <div class="column firstColumn">
            <h1>Mendes Assoalhos</h1>
            <a href="http://localhost:3000/budgetHeader"><button type="button" >Gerar Orçamento</button></a>
        </div>
    </div>
    
</body>
</html>